<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPExists.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WPExists.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value>wpexists</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>zxcvbnm</value>
            </setting>
            <setting name="logged_in" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autofill_username" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxy_ip_collection" serializeAs="String">
                <value>195.4.164.127:8080</value>
            </setting>
            <setting name="use_proxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="request_batch_size" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="api_base_url" serializeAs="String">
                <value>https://wa.opltech.co.in/api/numchk?num=</value>
            </setting>
            <setting name="operation_hashset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="operation_task" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="operation_async" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="operation_chromedriver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="operation_websocket" serializeAs="String">
                <value>False</value>
            </setting>
        </WPExists.Properties.Settings>
    </userSettings>
</configuration>